<!-- Image and text -->
<div class="mealy-border-b">
  <div class="row">
    <div class="col-2">
      <h1 class="text-sm-center text-md-left mealy-brand m-2 pl-sm-3">Mealy</h1>
    </div>
    <div class="col-8 ">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Trucks" aria-label="Search Trucks" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>